apiVersion: v2
name: kiali
description: Kiali is an open source project for service mesh observability, refer to https://www.kiali.io for details.
version: 2.3.0-bb.0
appVersion: 2.3.0
home: https://github.com/kiali/kiali-operator
maintainers:
- name: Kiali
  email: kiali-users@googlegroups.com
  url: https://kiali.io
keywords:
- istio
- kiali
- operator
sources:
- https://github.com/kiali/kiali
- https://github.com/kiali/kiali-operator
- https://github.com/kiali/helm-charts
icon: https://raw.githubusercontent.com/kiali/kiali.io/current/assets/icons/logo.svg
dependencies:
  - name: gluon
    version: "0.5.12"
    repository: "oci://registry1.dso.mil/bigbang"
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Kiali: 2.3.0
  helm.sh/images: |
    - name: kiali
      image: registry1.dso.mil/ironbank/opensource/kiali/kiali:v2.3.0
    - name: kiali-operator
      image: registry1.dso.mil/ironbank/opensource/kiali/kiali-operator:v2.3.0
    - name: kubectl
      image: registry1.dso.mil/ironbank/opensource/kubernetes/kubectl:v1.30.8
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find upstream chart's release notes and CHANGELOG here](https://kiali.io/news/release-notes/)
