{{- /* Render Istio ServiceEntry for Grafana (external) */ -}}
{{- if and .Values.istio.enabled .Values.istio.sidecar.enabled (eq .Values.istio.sidecar.outboundTrafficPolicyMode "REGISTRY_ONLY") .Values.upstream.cr.spec.external_services.grafana.enabled -}}
apiVersion: networking.istio.io/v1beta1
kind: ServiceEntry
metadata:
  name: {{ include "kiali.hostnameFromUri" .Values.upstream.cr.spec.external_services.grafana.url | replace "." "-" }}-service-entry
  namespace: {{ $.Release.Namespace }}
spec:
  exportTo:
    - "."
  hosts:
    - {{ include "kiali.hostnameFromUri" .Values.upstream.cr.spec.external_services.grafana.url }}
  location: MESH_EXTERNAL
  ports:
    - number: 443
      protocol: TLS
      name: https
{{- end -}}

