{{- $bbtests := .Values.bbtests | default dict -}}
{{- $enabled := (hasKey $bbtests "enabled") -}}
{{- if and .Values.istio.enabled .Values.istio.sidecar.enabled (eq .Values.istio.sidecar.outboundTrafficPolicyMode "REGISTRY_ONLY") $enabled }}
apiVersion: networking.istio.io/v1
kind: ServiceEntry
metadata:
  name: bbtests-service-entry
  namespace: {{ .Release.Namespace }}
spec:
  hosts:
  - repo1.dso.mil
  location: MESH_EXTERNAL
  ports:
  - name: https
    number: 443
    protocol: TLS
  resolution: DNS
{{- end }}